:root {
    --font-main: 'Outfit', sans-serif;
    --font-serif: 'Playfair Display', serif;

    /* Modern Earthy Palette */
    --primary: #C7CE69;
    /* Lime Green */
    --accent: #BE361D;
    /* Rust Red */
    --bg: #1A1412;
    /* Deep Coffee / Dark Brown */
    --surface: #2D2018;
    /* Lighter Coffee */
    --text: #FDFCF0;
    /* Warm Cream */
    --text-muted: #A69F88;
    /* Muted Beige */
    --border: rgba(199, 206, 105, 0.1);

    color-scheme: dark;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-main);
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
    margin: 0;
}

button {
    font-family: var(--font-main);
}