:root {
    --font-main: 'Outfit', sans-serif;
    --font-serif: 'Playfair Display', serif;

    --primary: #22d3ee;
    --accent: #818cf8;
    --bg: #0f0f11;
    --surface: #18181b;
    --text: #f4f4f5;
    --text-muted: #a1a1aa;

    color-scheme: dark;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-main);
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
    margin: 0;
}

button {
    font-family: var(--font-main);
}